@import "bootstrap";


// Variables

$dark: #000;
$light: #fff;



$phone: "(min-width: 481px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$largedesktop: "(min-width: 1200px)";

@mixin phone {
	@media #{$phone} {
		@content;
	}
}

@mixin tablet {
	@media #{$tablet} {
		@content;
	}
}

@mixin desktop {
	@media #{$desktop} {
		@content;
	}
}

@mixin largedesktop {
	@media #{$largedesktop} {
		@content; 
	}
}


// Got from blog, not sure if it works well
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: $light;
	background-color: $dark;
	text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

// Fixes issue with nested bootstrap containers
.container-fluid .container{
	padding-left: 0;
	padding-right: 0;
}



















h1{
	font-size: 50px;
	@include tablet {
		font-size: 75px;
	}
	@include desktop{
		font-size: 100px;
	}



}

section.intro {
	width: 100%;
	height: 100%;
	color: $light;
	background: url(../img/background.jpg) no-repeat bottom center scroll;
	background-color: $dark;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	div.container{
		height: 100%;
		display: table;
		div.row{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.intro-text{
		font-size: 15px;
		@include tablet{
			font-size: 25px;
		}
	}
}




.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid $light;
	border-radius: 35px;
	font-size: 40px;
	color: $light;
	background: transparent;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	i{
		transition: .3s ease;
	}
	&:hover {
		outline: none;
		color: orange;
		i{
			transform: translateY(2px);
			transition: .7s ease;
			&:focus{
				color: $light;
			}
		}
	}
}





section.test{
	height: 100%;
	background: lightblue;
	div.container{
		background: red;
		border: 5px solid black;
		p{
			color: red;
			background: yellow;
			height: 100%;
		}
		div.col-md-8{
			color: blue;
		}
	}
}
























