section#about{
	background-color: #121212;
	@include background(url("http://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png"), repeat);
	// @include background(url("http://www.transparenttextures.com/patterns/pw-pattern.png"), repeat);
	background-attachment: fixed;
	padding: 100px 0;
	height: auto;
	p.first-info-about,
	p.second-info-about{
		font-size: 15px;
		line-height: 23px;
		text-align: left;
		text-indent: 30px;
	}
	h3{
		color: #9d9d9d;
		font-size: 20px;
		&.clicktolearn{
			margin-bottom: 10px;
			margin-top: 5px;
		}
	}
	h2{
		font-size: 30px;
		@include tabletOrMore {
			font-size: 43px;
		}
	}
	h4.science-image-caption{
		font-size: 15px;
		font-weight: normal;
		text-align: left;
		width: 80%;
		margin: auto;
		&:first-of-type{
			margin-bottom: 30px;
		}
	}
	p.about-text{
		font-size: 18px;
		margin-bottom: 50px;
	}

	a.pluslink{
		font-size: 100px;
	}

	div.moreabout{
		img{
			width: 100%;
			@include phoneOrMore {
				width: 80%;
			}
			@include desktopOrMore {
				width: 100%;
			}
		}
		img.science3{
			max-width: 680px;
		}
		p{
			font-size: 15px;
		}
		h3.description-header-2{
			padding-top: 30px;
		}
	}

} 