// ------------------------General Rules-----------------------------

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: $lora;
	color: $light;
	background-color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-family: $montserrat;
	font-weight: 700;
	letter-spacing: 1px;
}

// Resets default behavior of ul, maybe I should do reset.css instead of normalize.css..
ul{
	margin: 0;
	padding: 0;
}

// Created custom container to simulate bootstrap container-fluid, 
// without nesting problems
.my-container{
	width: 100%;
}

// basic styles for each section
section{
	height: 100%;
	padding: 130px 0;
	text-align: center;
	a{
		text-decoration: underline;
		color: $light;
		// uses modernizr to only apply hover styles to non-touch screens.  not perfect solution at all
		//   explains more:  http://www.stucox.com/blog/you-cant-detect-a-touchscreen/
		// actually big issue was that on iOS devices, all links that have hover, need to be double clicked, very annoying
		// Not sure why this wasn't happening before.. upon creation of site.  Possibly updates of iOS 
		// This was updated 8/1/15, upon realizing bug of site a few days earlier
		.no-touchevents &:hover{
			color: $gold;
		}
	}
	h2{
		color: $gold;
		font-size: 30px;
		@include tabletOrMore {
			font-size: 43px;
		}
	}
	h2+p{
		font-size: 18px;
	}
	h3, h4, h5, h6{
		text-transform: none;
	}
}


// Componenets for entire page

// The plus sign that expands content in different places
a.pluslink,
a.pluslinkperson{
		display: inline-block;
		margin-top: -50px;
		font-size: 100px;
		color: $gold;
		@include transition(.3s ease);
		text-decoration: none;
		.no-touchevents &:hover{
			// @include transform(scale(1.05));
		}
		&.reveal{
			@include transform(rotate(45deg));
			@include transition(.8s ease);
			color: $grey;
		}
	}
