// Intro picture and text
section#intro {
	width: 100%;
	height: 100%;
	color: $light;
	text-align: center;
	background: url(../img/backgrounddarker2.jpg) no-repeat bottom center scroll;
	background-color: $dark;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	// display: table;
	// vertical-align: middle;
	div.container{
		height: 100%;
		// display: table-cell;
		// vertical-align: middle;
	}
	h1{
		display: inline;
		margin: auto;
		text-align: left;
		// margin and padding cancel each other out for vertical positioning. 
		// padding ensures background image has enough room before getting cut off
		margin-top: -80px;
		padding-top: 80px;
		color: $gold;
		html.index2 &{
			color: white;
		}
		// Separate image for crown, to put over text
		background: url(../img/crowngold.jpg) no-repeat;
		


		// mobile first size of smallphone
		// I include 4 different media queries for different devices, adjusting height of 
		// h1 element and the position/size of background image.  I make width of h1 
		// just barely wide enough to contain the text at given font-size, so margin: auto 
		// actually centers the element.  Not the best way to accomplish this probably. 
	}

	img.checkmateheader{
			width: 270px;
			margin-bottom: 20px;
			@include phone{
				width: 450px;
			}
			@include tablet{
				width: 600px;
			}
			@include desktop{
				width: 750px;
			}
			@include largedesktop{
				width: 900px;
			}
		}





	h2{
		font-size: 20px;
		margin-top: -10px;
		color: $gold;
		html.index2 &{
			color: white;
		}
		@include phone{
			font-size: 30px;
		}
		@include tablet{
			font-size: 40px;
		}
		@include desktop{
			font-size: 55px;
		}
		@include largedesktop{
			font-size: 65px;
		}
	}
	.intro-text{
		font-size: 18px;
		@include tablet{
			font-size: 22px;
		}
		@include desktop{
			font-size: 25px;
		}
	}
	.learn-more{
		margin-top: 30px;
		font-size: 14px;
		@include tablet{
			font-size: 17px;
		}
		@include desktop{
			font-size: 19px;
		}
	}
	.btn-circle {
		width: 50px;
		height: 50px;
		padding: 5px 14px;
		border: 2px solid $light;
		border-radius: 35px;
		font-size: 30px;
		color: $light;
		background: transparent;
		@include tablet{
			height: 70px;
			width: 70px;
			font-size: 40px;
			padding: 7px 16px;
		}
		@include transition(.7s ease);
		i{
			@include transition(.3s ease);
		}
		&:hover {
			border-color: $gold;
			@include transition(.3s ease);
			i{
				transform: translateY(2px);
				color: $gold;
			}
		}
	}
}