// Intro picture and text
section#intro {
	width: 100%;
	height: 100%;
	color: $light;
	text-align: center;
	background: url(../img/chessbackground.jpg) no-repeat bottom center scroll;
	background-color: $dark;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	// display: table;
	// vertical-align: middle;
	div.container{
		height: 100%;
		// display: table-cell;
		// vertical-align: middle;
	}

	img.checkmateheader{
			width: 270px;
			margin-bottom: 20px;
			@include phone{
				width: 450px;
			}
			@include tablet{
				width: 600px;
			}
			@include desktop{
				width: 750px;
			}
			@include largedesktop{
				width: 900px;
			}
		}

	.intro-text{
		font-size: 18px;
		@include tablet{
			font-size: 22px;
		}
		@include desktop{
			font-size: 25px;
		}
	}
	.learn-more{
		margin-top: 30px;
		font-size: 14px;
		@include tablet{
			font-size: 17px;
		}
		@include desktop{
			font-size: 19px;
		}
	}
	.btn-circle {
		width: 50px;
		height: 50px;
		padding: 5px 14px;
		border: 2px solid $light;
		border-radius: 35px;
		font-size: 30px;
		color: $light;
		background: transparent;
		@include tablet{
			height: 70px;
			width: 70px;
			font-size: 40px;
			padding: 7px 16px;
		}
		@include transition(.7s ease);
		i{
			@include transition(.3s ease);
		}
		&:hover {
			border-color: $gold;
			@include transition(.3s ease);
			i{
				transform: translateY(2px);
				color: $gold;
			}
		}
	}
}