// Intro picture and text
section#intro {
	width: 100%;
	height: 100%;
	color: $light;
	text-align: center;
	background: url(../img/chessbackground.jpg) no-repeat bottom center scroll;
	background-color: $dark;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	// display: table;
	// vertical-align: middle;
	div.container{
		height: 100%;
		// display: table-cell;
		// vertical-align: middle;
	}

	img.checkmateheader{
		margin-top: -30px;
		padding-bottom: 10px;
		width: 270px;
		@include phoneOrMore {
			width: 450px;
		}
		@include tabletOrMore {
			width: 600px;
		}
		@include desktopOrMore {
			width: 750px;
		}
		@include largedesktop {
			width: 900px;
		}
	}
	// lots of media queries to change position of checkmate header based on landscape mode of phone
	@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 568px)
	and (orientation: landscape) {
		img.checkmateheader{
			margin-top: -100px;
		}
	}

	@media only screen 
	and (min-device-width: 569px) 
	and (max-device-width: 900px)
	and (orientation: landscape) {
		img.checkmateheader{
			margin-top: -150px;
		}
	}

	// One media query, soething that isn't great code but necessary for iphone 6
	@media screen and (min-width: 410px) and (max-width: 560px) {
		img.checkmateheader{
			width: 330px;
		}
	}

	.intro-text{
		font-size: 18px;
		@include tabletOrMore {
			font-size: 22px;
		}
		@include desktopOrMore {
			font-size: 25px;
		}
	}
	.learn-more{
		margin-top: 30px;
		font-size: 14px;
		@include tabletOrMore {
			font-size: 17px;
		}
		@include desktopOrMore {
			font-size: 19px;
		}
	}
	.btn-circle {
		width: 50px;
		height: 50px;
		padding: 5px 14px;
		border: 2px solid $light;
		border-radius: 35px;
		font-size: 30px;
		color: $light;
		background: transparent;
		@include tabletOrMore {
			height: 70px;
			width: 70px;
			font-size: 40px;
			padding: 7px 16px;
		}
		@include transition(.7s ease);
		i{
			@include transition(.3s ease);
		}
		.no-touchevents &:hover {
			border-color: $gold;
			@include transition(.3s ease);
			i{
				transform: translateY(2px);
				color: $gold;
			}
		}
	}
}