// ------------------------Variables-----------------------------

$dark: #000;
$light: #fff;
$gold: #FFE16A;
$grey: #9d9d9d;

$loraregular: "loraregular, 'Helvetica Neue',Helvetica,Arial,serif";
$montserratregular: "montserratregular,'Helvetica Neue',Helvetica,Arial,sans-serif";

$phoneOnly: "(max-width: 767px)";
$tabletOnly: "(min-width: 768px) and (max-width: 991px)";


$smallphone: "(max-width: 560px)";
$phone: "(min-width: 561px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$largedesktop: "(min-width: 1200px)";